opacity-rule = [
    "95:class_g = 'URxvt' && _NET_WM_STATE@:32a *= 'NET_WM_STATE_FOCUSED'",
    "100:name *?= 'Conky'",
#    "50:class_g = 'Dmenu'",
    "100:name *?= 'smplayer'",
    "100:class_g= 'Gimp'",
#    "100:name *?= 'Screenshot'",
    "100:class_g = 'VirtualBox'",
    "100:name *?= 'VLC'",
    "50:class_g = 'Dunst'",
    "80:class_g = 'Thunar' && !_NET_WM_STATE@:32a *= '_NET_WM_STATE_FOCUSED'",
    "95:name *?= 'firefox' && !_NET_WM_STATE@:32a *= '_NET_WM_STATE_FOCUSED'"
#    "100:class_g = 'URxvt' && !_NET_WM_STATE@:32a",
#    "0:_NET_WM_STATE@:32a *= '_NET_WM_STATE_HIDDEN'",
#    "100:_NET_WM_STATE@:32a *= '_NET_WM_STATE_STICKY'"
];
shadow-exclude = [
    "! name~=''",
    "name = 'Notification'",
    "name = 'Plank'",
    "name = 'Docky'",
    "name = 'Kupfer'",
    "name = 'xfce4-notifyd'",
    "name = 'cpt_frame_window'",
    "name *= 'VLC'",
    "name *= 'compton'",
    "name *= 'picom'",
    "name *= 'Chromium'",
    "name *= 'Chrome'",
    "class_g ?= 'polybar'",
    "class_g = 'Firefox' && argb",
    "class_g = 'smplayer'",
    "class_g = 'Conky'",
    "class_g ?= 'Dmenu'",
"class_g ?= 'Dunst'",
    "class_g = 'Kupfer'",
    "class_g = 'Synapse'",
    "class_g ?= 'Notify-osd'",
    "class_g ?= 'Cairo-dock'",
    "class_g ?= 'Xfce4-notifyd'",
    "class_g ?= 'Xfce4-power-manager'",
    "class_g ?= 'i3-frame'",
    "_GTK_FRAME_EXTENTS@:c",
    "_NET_WM_STATE@:32a *= '_NET_WM_STATE_HIDDEN'"
];
